body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://www.shutterstock.com/image-vector/casino-playing-cards-poker-chips-600nw-2167675301.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
}

h1 {
    color: #dad3d3;
    margin-bottom: 20px;
}

.reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3f38be;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset:hover {
    background-color: #261e89;
}

.memory-game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(20% - 10px);
    height: calc(50% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.front-face {
    background: #fff;
    transform: rotateY(180deg);
}

.back-face {
    background: #02008a;
}